@import "../../global.scss";
.travel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.travelMain{
    background: 
     linear-gradient(
       rgba(20, 20, 20, 0.5),
       rgba(248, 226, 226, 0.5)
     ),
    url("./img3.jpg")
      center;
  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    .title{
        font-size: 40px;
        color: #fff;

    }
}
.pList1{

//clip-path: ellipse(49% 32% at 50% 50%);
  //background-color: rgb(79, 178, 235);
    width: 100%;
    display: flex;
      justify-content: center;
    gap: 200px;
    padding: 170px 0px  120px;
    @include mobile{
      flex-direction: column;
      display: flex;
      align-items: center;
      
      }
    .linkTravels{
      text-decoration: none;
    }
}
.travelsDesc{
  padding: 50px;
  .travelDesc{
    padding: 20px 0;
    .travelsTitle{
      color: rgb(9, 85, 248);
      padding: 5px;
      font-weight:700;
    }
  }
}

